# Introduction to Pandas and Dataframes

We can use `pandas` for programmatic manipulation of large data sets.

In [ ]:
import pandas as pd

## Series

The basic `pandas` object is the `Series`

In [ ]:
l1 = [19.3, 2.67, 47.1, 0.000032, 1562.9986]
s1 = pd.Series(l1)
s1

In [ ]:
s2 = s1 + 3
s2

In [ ]:
dir(s1)

### Key properties
- values
- `dtype`
- index

In [ ]:
s1.values

This `array` is a `numpy` array. We can use it to do lots of different maths operations.

In [ ]:
s1.values * 3

In [ ]:
s1

In [ ]:
s1.index

#### We can access and slice elements in the expected way.

In [ ]:
s1[2]

In [ ]:
s1[1:3]

There are lots of available methods.

In [ ]:
s1.mean()

In [ ]:
s1.where(s1 > 10)

In [ ]:
s1[s1 > 10]

### We can create Series with an arbitrary index

In [ ]:
l2 = [3.2, 9, 'A', False]
idx = ['my flt', 'my int', 'my str', 'my str']
s2 = pd.Series(l2, index = idx)

In [ ]:
s2.values

In [ ]:
s2

In [ ]:
s2['my str']

In [ ]:
s2.index

#### This is obviously reminiscent of dictionaries...

In [ ]:
d3 = {'name': 'Simon', 'game': 'Warcraft', 'nerd_score': 148, 'interests': 'rocks', 'shaves': False}
s3 = pd.Series(d3)
s3

#### ... but Series have lots of extra attributes, including the ability to slice with non-numeric indices.

In [ ]:
s3['game':'interests'] # notice what gets returned...

## Dataframes

The most commonly used (and most important) structure in `pandas` is the **dataframe**. It is two-dimensional rather than one-dimensional.

In [ ]:
stock_dict = {'trainers': 78, 'basketballs': 27, 'cricket bats': 38, 'wetsuits': 12}
prices_dict = {'trainers': 102.20, 'basketballs': 22.40, 'cricket bats': 61.38, 'wetsuits': 98.24}

In [ ]:
stock = pd.Series(stock_dict)
price = pd.Series(prices_dict)

In [ ]:
inventory = pd.DataFrame({"stock": stock, "price": price})

In [ ]:
inventory

In [ ]:
dir(inventory)

### Again it has some important properties
- index
- dtypes
- columns
- values

In [ ]:
inventory.index

In [ ]:
inventory.dtypes

In [ ]:
inventory.columns

In [ ]:
inventory.values

#### Selecting a column (Series)

In [ ]:
inventory['price']

In [ ]:
inventory.price

#### Creating a new column calculated from other columns

In [ ]:
inventory['new_value'] = inventory['stock']*inventory['price']

In [ ]:
inventory

#### Column operations are just Series operations

In [ ]:
inventory.new_value.sum()

#### Slicing and selecting rows and columns

In [ ]:
inventory['basketballs':'cricket bats']

In [ ]:
inventory[1:2] # notice the difference!

In [ ]:
inventory['price':'new_value']

In [ ]:
inventory

In [ ]:
inventory.loc['basketballs', 'price']

In [ ]:
(inventory['price'] > 70.0)

In [ ]:
inventory[inventory['price'] > 70.0]

In [ ]:
inventory.loc[inventory['price'] > 70.0]

## File manipulation
Pandas is capable of reading and writing data in a number of different formats

In [ ]:
flights_df = pd.read_csv('customer_booking.csv', encoding='utf-8', encoding_errors='ignore')

In [ ]:
type(flights_df)

In [ ]:
flights_df.count()

In [ ]:
flights_df.head()

In [ ]:
flights_df.groupby('route').nunique()

In [ ]:
single_traveller_df = flights_df.query('num_passengers == 1')

In [ ]:
single_traveller_df.head()

In [ ]:
single_traveller_df.count()

In [ ]:
single_traveller_df.to_json('./single.json', orient='columns')

In [ ]:
single_traveller_df.to_parquet('./single.parquet', engine='auto', compression=None)